body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  color: black;
  background-color: whitesmoke;
  width: 100vw;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.description {
  text-align: center;
}

.App {
  display: flex;
  justify-content: space-around;
}

input {
  transform: translateY(3px);
  width: 100px;
  margin-left: 10px;
}

.left-panel {
  width: 400px;
  padding: 10px;
}

.region {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 0 3px grey;
}

.region button {
  float: right;
}

.right-panel {
  width: calc(100vw - 400px);
  margin: 10px;
  position: relative;
}
